
* {
    color: #FFFFFF;
    overflow: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: #0C181D;
    background-clip: padding-box;
    border-left: 0px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-top: 12px solid rgba(0, 0, 0, 0);
    border-bottom: 12px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
}

.elev0 {
    background-color: #0C181D;
}
.elev1 {
    background-color: #12242B;
}
.elev2 {
    background-color: #182f3A;
    border-radius: 8px;
}
.elev3 {
    background-color: #1e3B48;
}


h1 {
    text-align: center;
    font-size: 120px;
}
h2 {
    font-size: 30px;
    padding: 10px;
}
h3 {
    padding: 10px;
}
p {
    font-size: 14px;
}
a {
    color: var(--accent1);
    align-self: flex-end;
    padding: 10px;
}


body {
    --accent1: #EA4;
    margin: 0;
}

#main {
    display: grid;
    grid-template-columns: 320px auto 0px;
    grid-template-rows: 220px 320px auto;
    gap: 20px;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 24px;
}

#history-container {
    grid-area: 1 / 1 / span 3 / span 1;
}
#case {
    grid-area: 1 / 2 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
#time-input {
    grid-area: 2 / 2 / span 1 / span 1;
}
div#stats {
    grid-area: 3 / 2 / span 1 / span 1;
}


form {
    display: flex;
}

input {
    flex-grow: 1;
    margin: 16px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    font-size: 30px;
}

#history {
    display: inline-block;
    height: max-content;
}

.history {
    display: inline;
    padding: 0;
}

h2.history {
    display: inline-block;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #182f3A;
    padding: 24px 24px 8px 24px;
}

div.history {
    display: inline-block;
    height: 42px;
    padding: 4px 20px;
}



table {
    margin: 20px;
    border-collapse: collapse;
}

td {
    border: 1px solid white;
    font-size: 12px;
    text-align: center;
}

td.empty {
    background-color: #0C181D;
}

td.notime {
    background-color: #12242B;
}

td.top {
    background-color: #1e3B48;
    width: 40px;
    height: 54px;
    font-size: 16px;
}

td.left {
    background-color: #1e3B48;
    width: 72px;
    height: 32px;
    font-size: 16px;
}


#stats {
    padding: 20px;
}

#stats-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

a.stats {
    font-size: 16px;
    padding: 16px;
}

p.stats {
    margin: 8px;
    font-size: 16px;
}