<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>3-style</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        * {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body class="elev1">

    <div id="main" class="elev1">

        <div id="history-container" class="elev2">
            <div id="history">
                {% for item in history %}
                <div class="history">
                    <a href="/delete/{{ item.id }}">X</a>
                    <h3 class="history">{{ item.time }}</h3>
                    <p class="history">{{ item.case }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="case" class="elev2">
            <h2 id="case-name">{{ case[1] }}</h2>
            <h3 id="case-alg">{{ case[2] }}</h3>
            <a href="/corners" id="next">NEXT CASE</a>
        </div>

        <div id="time-input" class="elev1">
            <form id="time-form" action="/submit" method="POST">
                <input type="text" id="time-entry" name="time" class="elev0" value="">
                <input type="hidden" name="case_id" value="{{ case[0] }}">
            </form>
            <h1 id="time-display">loading</h1>
        </div>

        <div id="table" class="elev2">
            <table>
    
                {% for row in grid %}
                <tr>
                    {% for time in row %}
                    <td {{ time[1] }}>{{ time[0] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
    
            </table>
        </div>

    </div>

    <script type=text/javascript src="{{ url_for('static', filename='timer.js') }}"></script>

</body>

</html>