<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Time grid</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        * {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body class="elev1">

    <div id="table" class="elev2">
        <table>
            {% for row in grid %}
            <tr>
                {% for time in row %}
                <td {{ time[1] }}>{{ time[0] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>